<section class="foodSection row ">
    <div class="foodSectionLeft col">
        <h1 class='foodTitle1 mb-0'>EATS</h1>
        <p class='foodprompt-1'>choose your food </p>

        <div class="foodDiv">
            <div class="nav flex-column nav-pills me-3 btnList" id="v-pills-tab" role="tablist"
                aria-orientation="vertical">
                <button class="nav-link foodbtn" id="v-pills-chinese-tab" data-bs-toggle="pill"
                    data-bs-target="#v-pills-chinese" type="button" role="tab" aria-controls="v-pills-chinese"
                    aria-selected="true" data-value='Chinese'>Chinese</button>
                <button class="nav-link foodbtn" id="v-pills-chicken-tab" data-bs-toggle="pill"
                    data-bs-target="#v-pills-chicken" type="button" role="tab" aria-controls="v-pills-chicken"
                    aria-selected="false" data-value='Chicken'>Chicken</button>
                <button class="nav-link foodbtn" id="v-pills-pizza-tab" data-bs-toggle="pill"
                    data-bs-target="#v-pills-pizza" type="button" role="tab" aria-controls="v-pills-pizza"
                    aria-selected="false" data-value='Pizza'>Pizza</button>
                <button class="nav-link foodbtn" id="v-pills-burgers-tab" data-bs-toggle="pill"
                    data-bs-target="#v-pills-burgers" type="button" role="tab" aria-controls="v-pills-burgers"
                    aria-selected="false" data-value='Burgers'>Burgers</button>
                <button class="nav-link foodbtn" id="v-pills-japanese-tab" data-bs-toggle="pill"
                    data-bs-target="#v-pills-japanese" type="button" role="tab" aria-controls="v-pills-japanese"
                    aria-selected="true" data-value='Japanese'>Japanese</button>
                <button class="nav-link foodbtn" id="v-pills-mexican-tab" data-bs-toggle="pill"
                    data-bs-target="#v-pills-mexican" type="button" role="tab" aria-controls="v-pills-mexican"
                    aria-selected="false" data-value='Mexican'>Mexican</button>
                <button class="nav-link foodbtn" id="v-pills-italian-tab" data-bs-toggle="pill"
                    data-bs-target="#v-pills-italian" type="button" role="tab" aria-controls="v-pills-italian"
                    aria-selected="false" data-value='Italian'>Italian</button>
            </div>
        </div>
        <p class='foodprompt-2'></p>
        <button class='submitbtn' data-value="submit">SUBMIT</button>
    </div>

    <div class="foodSectionRight col px-0">
        <div class="foodImageCard">
            <div class="dishes">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show" id="v-pills-chinese" role="tabpanel"
                        aria-labelledby="v-pills-chinese-tab">
                        <div id="chineseFoodIdeas">
                            <h1 class='idea-title'>Chinese Food Ideas</h1>
                            <ul>
                                <li class='dish'>Chow Mein</li>
                                <li class='bullet'>*</li>
                                <li class='dish'>Egg Rolls</li>
                                <li class='bullet'>*</li>
                                <li class='dish'>Fried Rice</li>
                                <li class='bullet'>*</li>
                                <li class='dish'>Hot & Sour Soup</li>
                            </ul>

                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-chicken" role="tabpanel"
                        aria-labelledby="v-pills-chicken-tab">
                        <div id="chickenIdeas">
                            <h1 class='idea-title'>Chicken Ideas</h1>
                            <ul>
                                <li class='dish'>Fried Chicken</li>
                                <li class='bullet'>*</li>
                                <li class='dish'>Chicken Wings</li>
                                <li class='bullet'>*</li>
                                <li class='dish'>Chicken Tenders</li>
                                <li class='bullet'>*</li>
                                <li class='dish'>Chicken Sandwiches</li>
                            </ul>

                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-pizza" role="tabpanel" aria-labelledby="v-pills-pizza-tab">
                        <div id="pizzaIdeas">
                            <h1 class='idea-title'>Pizza Ideas</h1>
                            <ul>
                                <li class='dish'>Pepperoni</li>
                                <li class='bullet'>*</li>
                                <li class='dish'>Margherita</li>
                                <li class='bullet'>*</li>
                                <li class='dish'>Veggie</li>
                                <li class='bullet'>*</li>
                                <li class='dish'>Hawaiian</li>
                            </ul>

                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-burgers" role="tabpanel"
                        aria-labelledby="v-pills-burgers-tab">
                        <div id="burgerIdeas">
                            <h1 class='idea-title'>Burger Ideas</h1>
                            <ul>
                                <li class='dish'>Cheeseburger</li>
                                <li class='bullet'>*</li>
                                <li class='dish'>Black Bean Burger</li>
                                <li class='bullet'>*</li>
                                <li class='dish'>Turkey Burger</li>
                                <li class='bullet'>*</li>
                                <li class='dish'>Side of Fries</li>
                            </ul>

                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-japanese" role="tabpanel"
                        aria-labelledby="v-pills-japanese-tab">
                        <div class="japaneseFoodIdeas">
                            <h1 class='idea-title'>Japanese Food Ideas</h1>
                            <ul>
                                <li class='dish'>Sushi</li>
                                <li class='bullet'>*</li>
                                <li class='dish'>Teriyaki</li>
                                <li class='bullet'>*</li>
                                <li class='dish'>Ramen</li>
                                <li class='bullet'>*</li>
                                <li class='dish'>Gyoza</li>
                            </ul>

                        </div>

                    </div>
                    <div class="tab-pane fade" id="v-pills-mexican" role="tabpanel"
                        aria-labelledby="v-pills-mexican-tab">
                        <div class="mexicanFoodIdeas">
                            <h1 class='idea-title'>Mexican Food Ideas</h1>
                            <ul>
                                <li class='dish'>Tacos</li>
                                <li class='bullet'>*</li>
                                <li class='dish'>Enchiladas</li>
                                <li class='bullet'>*</li>
                                <li class='dish'> Pozole</li>
                                <li class='bullet'>*</li>
                                <li class='dish'>Churros</li>
                            </ul>

                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-italian" role="tabpanel"
                        aria-labelledby="v-pills-italian-tab">
                        <div class="italianFoodIdeas">
                            <h1 class='idea-title'>Italian Food Ideas</h1>
                            <ul>
                                <li class='dish'>Pasta</li>
                                <li class='bullet'>*</li>
                                <li class='dish'>Risotto</li>
                                <li class='bullet'>*</li>
                                <li class='dish'>Polenta</li>
                                <li class='bullet'>*</li>
                                <li class='dish'>Tiramisu</li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
    </div>
</section>
<script src='/public/assets/js/food.js'></script>

