<section class="foodSection row ">
    <div class="foodSectionLeft col">
        <h1 class='foodTitle1 mb-0'>FOOD</h1>
        <h1 class='foodTitle2 px-0'>CATEGORIES</h1>
        <div class='foodDiv'>
            <button class="foodbtn" data-value='chinese'>CHINESE</button>
        </div>
        <div class='foodDiv'>
            <button class="foodbtn" data-value='chicken'>CHICKEN</button>
        </div>
        <div class='foodDiv'>
            <button class="foodbtn" data-value='pizza'>PIZZA</button>
        </div>
        <div class='foodDiv'>
            <button class="foodbtn" data-value='burgers'>BURGERS</button>
        </div>
        <div class='foodDiv'>
            <button class=" foodbtn" data-value='sushi'>SUSHI</button>
        </div>
        <div class='foodDiv'>
            <button class="foodbtn" data-value='mexican'>MEXICAN</button>
        </div>
        <div class='foodDiv'>
            <button class="foodbtn" data-value='pasta'>PASTA</button>
        </div>
        <div class='foodDiv'>
            <button class='foodbtn' data-value='random'> PICK FOR ME</button>
        </div>
        <button class='submitbtn' data-value="submit">SUBMIT</button>
    </div>
    <div class="foodSectionRight col px-0">
        <div class="foodImageCard">
            <img src="../../public/assets/photos/chickenfood.jpeg" alt="">
        </div>

    </div>
</section>
<script src='/assets/js/food.js'></script>