<footer>
    <div class="">
        <nav class="navbar navbar-expand-lg navbar-light" id='navbar'>
            <a class="navbar-brand mb-0 h1">
            </a>

            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#about" onclick="showPlantTabs()">About Us</a>
                    </li>
                </ul>
            </div>
            <div class="about__contact center">

                <a href="https://github.com/mteubnerfoster/project-2-electric-boogaloo" aria-label="github"
                    class="link link--icon">
                    <i aria-hidden="true" class="fab fa-github"></i>
                </a>

                <a href="https://www.linkedin.com/company/seattle-food-truck-builders/about/" aria-label="linkedin"
                    class="link link--icon">
                    <i aria-hidden="true" class="fab fa-linkedin"></i>
                </a>

                <a href="https://facebook.com/seattlefoodtruck" aria-label="facebook" class="link link--icon">
                    <i aria-hidden="true" class="fab fa-facebook"></i>
                </a>

                <a href="https://twitter.com/weedthots" aria-label="twitter" class="link link--icon">
                    <i aria-hidden="true" class="fab fa-twitter"></i>

                    <a href="https://www.youtube.com/watch?v=kK_rBQsLH2k" aria-label="youtube" class="link link--icon">
                        <i aria-hidden="true" class="fab fa-youtube"></i>
                    </a>


            </div>
    </div>
    </nav>
    </div>

</footer>