<footer>
    <div class="">
        <nav class="navbar navbar-expand-lg navbar-light" id='navbar'>
            <a class="navbar-brand mb-0 h1">
            </a>

            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#about" onclick="showPlantTabs()">About Us</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

</footer>