<footer class="text-center footer-section m-0 ">
    <!-- Grid container -->
    <div class="container pt-4 footer-container">
        <!-- Section: Social media -->
        <section class="mb-4 footer-sm">

            <!-- Facebook -->
            <a class="btn btn-floating footer-btn" href="https://facebook.com/seattlefoodtruck" target="_blank"
                rel="noopener noreferrer" data-mdb-ripple-color="dark" role="button"><i
                    class="fa fa-facebook-f"></i></a>

            <!-- Twitter -->
            <a href="https://twitter.com/weedthots" class=" btn  btn-floating btn-lg  footer-btn"
                data-mdb-ripple-color="dark" role="button"><i class="fa fa-twitter"></i>
            </a>

            <!-- Youtube -->
            <a href="https://www.youtube.com/watch?v=kK_rBQsLH2k" target="_blank" rel="noopener noreferrer"
                aria-label="youtube" role="button" class=" btn  btn-floating btn-lg  footer-btn"
                data-mdb-ripple-color="dark">
                <i class="fa fa-youtube"></i>
            </a>

            <!-- Instagram -->
            <a class="btn  btn-floating btn-lg  footer-btn" href="https://www.instagram.com/seattlefoodtruck/"
                target="_blank" rel="noopener noreferrer" role="button" data-mdb-ripple-color="dark"><i
                    class="fa fa-instagram"></i>
            </a>

            <!-- Linkedin -->
            <a href="https://www.linkedin.com/company/seattle-food-truck-builders/about/" target="_blank"
                rel="noopener noreferrer" aria-label="linkedin" class="btn btn-floating btn-lg footer-btn"
                role="button">
                <i class="fa fa-linkedin"></i>
            </a>

            <!-- Github -->
            <a href="https://github.com/mteubnerfoster/project-2-electric-boogaloo" target="_blank"
                rel="noopener noreferrer" aria-label="github" class="btn  btn-floating btn-lg footer-btn" role="button"
                data-mdb-ripple-color="dark"><i class="fa fa-github"></i>
            </a>
        </section>
        <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
    {{!-- <div class="footer-links">
        <a class="footer-link" href="#about">About Us</a>
        <b class="separator">|</b>
        <a class="footer-link" href="#">Home</a>

    </div> --}}

    <!-- Copyright -->
    <div class="text-center text-dark p-3 copywrite">
        © 2022 Copyright:
        <a class="text-dark">Joint Effort Co.</a>
    </div>
    <!-- Copyright -->
</footer>


{{!-- <div class="">
    <nav class="navbar navbar-expand-lg navbar-light" id='navbar'>
        <a class="navbar-brand mb-0 h1">
        </a>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#about">About Us</a>
                </li>
            </ul>
        </div>

        <div class="about__contact center">

            <a href="https://github.com/mteubnerfoster/project-2-electric-boogaloo" aria-label="github"
                class="link link--icon">
                <i aria-hidden="true" class="fab fa-github"></i>
            </a>

            <a href="https://www.linkedin.com/company/seattle-food-truck-builders/about/" aria-label="linkedin"
                class="link link--icon">
                <i aria-hidden="true" class="fab fa-linkedin"></i>
            </a>

            <a href="https://facebook.com/seattlefoodtruck" aria-label="facebook" class="link link--icon">
                <i aria-hidden="true" class="fab fa-facebook"></i>
            </a>

            <a href="https://twitter.com/weedthots" aria-label="twitter" class="link link--icon">
                <i aria-hidden="true" class="fab fa-twitter"></i>

                <a href="https://www.youtube.com/watch?v=kK_rBQsLH2k" aria-label="youtube" class="link link--icon">
                    <i aria-hidden="true" class="fab fa-youtube"></i>
                </a>


        </div>
</div>
</nav>
</div> --}}