<header>
    <div class="">
      <nav class="navbar navbar-expand-lg navbar-light" id='navbar'>
        <a class="navbar-brand mb-0 h1">
          {{!-- <img src="/assets/photos/JE-Logo.jpg" width="40" height="40" class="d-inline-block align-center" alt="">
          Joint Effort --}}
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#plant" onclick="showPlantTabs()">Cannabis</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#food" onclick="showFoodCategories()">Eats</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Login
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <input type='text' data-value='user-name' class="dropdown-item inputfield " placeholder='username'>
                <input type='text' data-value='user-name' class="dropdown-item inputfield" placeholder='password'>
                <a class="dropdown-item nav-item-btn" href="#">SUBMIT</a>
                <a class="dropdown-item" href="/login">Sign Up!</a>

              </div>
            </li>
          </ul>
        </div>
      </nav>

    </div>



</header>