<section class="plantSection row ">
  <div class="plantSectionLeft col px-0">
    <div class="plantImageCard">
      <div class="joints">
        <div class="tab-content" id="v-pills-tabContent">
          <div class="tab-pane fade show" id="v-pills-indica" role="tabpanel" aria-labelledby="v-pills-indica-tab">
            <div id="indicaplantIdeas">
              <h1 class='idea-title'>Indica</h1>
              <ul>
                <li class='dish px-4 pt-3'>While not all sativa marijuana strains will energize you, most
        consumers notice a tendency for sativas to produce a “head high,” an uplifting, stimulating effect. They also
        often report sativas as being helpful in mitigating stress or anxiety, and many consumers enjoy sativas to
        sharpen focus and boost creativity/motivation.</li>
                <li class='bullet'>*</li>
                <li class='dish px-4'>Common effects associated with sativa strains include feeling
        happy, uplifting, euphoric, and energetic. Sativas are often thought of as “daytime” strains, used for feeling
        productive, creative, and focused, and for getting chores done.</li>

              </ul>
            </div>
          </div>
          <div class="tab-pane fade" id="v-pills-sativa" role="tabpanel" aria-labelledby="v-pills-sativa-tab">
            <div id="sativaIdeas">
              <h1 class='idea-title'>Sativa</h1>
              <ul>
                <li class='dish px-4 pt-2'>While not all sativa marijuana strains will energize you, most
        consumers notice a tendency for sativas to produce a “head high,” an uplifting, stimulating effect. They also
        often report sativas as being helpful in mitigating stress or anxiety, and many consumers enjoy sativas to
        sharpen focus and boost creativity/motivation.</li>
                <li class='bullet'>*</li>
                <li class='dish px-4'>Common effects associated with sativa strains include feeling
        happy, uplifting, euphoric, and energetic. Sativas are often thought of as “daytime” strains, used for feeling
        productive, creative, and focused, and for getting chores done.</li>
              </ul>
            </div>
          </div>
          <div class="tab-pane fade" id="v-pills-hybrid" role="tabpanel" aria-labelledby="v-pills-hybrid-tab">
            <div id="hybridInfo">
              <h1 class='idea-title'>Hybrid</h1>
              <ul>
                <li class='dish px-4 pt-2'>Hybrid strains are bred from both indica- and sativa-descended
        plants. Due to the long history of crossbreeding cannabis strains—much of it was historically done underground
        to evade authorities—strains that have pure indica or pure sativa lineages are rare. Most strains referred to as
        “indica” or “sativa” are, in fact, hybrids, with genetics inherited from both subspecies.</li>
                <li class='bullet-alt mt-2'>*</li>
                <li class='dish px-4'>Since hybrid weed strains derive genetics from indicas and
        sativas, their ensuing effects can also pull from both indica and sativa strains. Common effects include happy,
        euphoric, uplifting, energetic, relaxing—it all depends on which hybrid you consume and what effects its
        “parent” strains are known to produce.</li>

              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="plantSectionRight col">
    <h1 class='plantTitle1 mb-0'>CANNABIS</h1>
    <p class='plantprompt-1'>1. choose your plant</p>
    <p class='plantprompt-2'></p>
    <div class="plantDiv">
      <div class="nav flex-column nav-pills me-3 btnList" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <button class="nav-link plantbtn" id="v-pills-indica-tab" data-bs-toggle="pill"
          data-bs-target="#v-pills-indica" type="button" role="tab" aria-controls="v-pills-indica"
          aria-selected="true" data-value='indica'>Indica</button>
        <button class="nav-link plantbtn" id="v-pills-sativa-tab" data-bs-toggle="pill"
          data-bs-target="#v-pills-sativa" type="button" role="tab" aria-controls="v-pills-sativa"
          aria-selected="false" data-value='sativa'>Sativa</button>
        <button class="nav-link plantbtn" id="v-pills-hybrid-tab" data-bs-toggle="pill" 
          data-bs-target="#v-pills-hybrid" type="button" role="tab" aria-controls="v-pills-hybrid" 
          aria-selected="false" data-value='hybrid'>Hybrid</button>
      </div>
    </div>


  </div>
{{!-- 
  <div class="foodSectionRight col px-0">
    <div class="foodImageCard">
      <div class="dishes">
        <div class="tab-content" id="v-pills-tabContent">
          <div class="tab-pane fade show" id="v-pills-chinese" role="tabpanel" aria-labelledby="v-pills-chinese-tab">
            <div id="chineseFoodIdeas">
              <h1 class='idea-title'>Chinese Food Ideas</h1>
              <ul>
                <li class='dish'>Chow Mein</li>
                <li class='bullet'>*</li>
                <li lass='dish'>Egg Rolls</li>
                <li class='bullet'>*</li>
                <li lass='dish'>Fried Rice</li>
                <li class='bullet'>*</li>
                <li lass='dish'>Hot & Sour Soup</li>
              </ul>

            </div>
          </div>
          <div class="tab-pane fade" id="v-pills-chicken" role="tabpanel" aria-labelledby="v-pills-chicken-tab">
            <div id="chickenIdeas">
              <h1 class='idea-title'>Chicken Ideas</h1>
              <ul>
                <li class='dish'>Fried Chicken</li>
                <li class='bullet'>*</li>
                <li lass='dish'>Chicken Wings</li>
                <li class='bullet'>*</li>
                <li lass='dish'>Chicken Tenders</li>
                <li class='bullet'>*</li>
                <li lass='dish'>Chicken Sandwiches</li>
              </ul>

            </div>
          </div>
          <div class="tab-pane fade" id="v-pills-pizza" role="tabpanel" aria-labelledby="v-pills-pizza-tab">
            <div id="pizzaIdeas">
              <h1 class='idea-title'>Pizza Ideas</h1>
              <ul>
                <li class='dish'>Pepperoni</li>
                <li class='bullet'>*</li>
                <li lass='dish'>Margherita</li>
                <li class='bullet'>*</li>
                <li lass='dish'>Veggie</li>
                <li class='bullet'>*</li>
                <li lass='dish'>Hawaiian</li>
              </ul>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div> --}}
</section>
<script src='/assets/js/choosePlant.js'></script>


{{!--
<div class="p-5 bg-dark rounded shadow">
  <!-- Lined tabs-->
  <ul id="myTab2" role="tablist" class="nav nav-tabs nav-pills with-arrow lined flex-column flex-sm-row text-center">
    <li class="nav-item flex-sm-fill">
      <a id="home2-tab" data-toggle="tab" href="#sativa" role="tab" aria-controls="home2" aria-selected="true"
        class="nav-link text-uppercase font-weight-bold mr-sm-3 rounded-0 active strainTitle">SATIVA</a>
    </li>
    <li class="nav-item flex-sm-fill">
      <a id="profile2-tab" data-toggle="tab" href="#indica" role="tab" aria-controls="profile2" aria-selected="false"
        class="nav-link text-uppercase font-weight-bold mr-sm-3 rounded-0 strainTitle">INDICA</a>
    </li>
    <li class="nav-item flex-sm-fill">
      <a id="contact2-tab" data-toggle="tab" href="#hybrid" role="tab" aria-controls="contact2" aria-selected="false"
        class="nav-link text-uppercase font-weight-bold rounded-0 strainTitle">HYBRID</a>
    </li>
  </ul>
  <div id="myTab2Content" class="tab-content">
    <div id="sativa" role="tabpanel" aria-labelledby="home-tab" class="tab-pane fade px-4 py-5 show active">
      <p class="strainFont font-italic sativaInfo">While not all sativa marijuana strains will energize you, most
        consumers notice a tendency for sativas to produce a “head high,” an uplifting, stimulating effect. They also
        often report sativas as being helpful in mitigating stress or anxiety, and many consumers enjoy sativas to
        sharpen focus and boost creativity/motivation.</p>
      <p class="strainFont font-italic mb-0 sativaFx">Common effects associated with sativa strains include feeling
        happy, uplifting, euphoric, and energetic. Sativas are often thought of as “daytime” strains, used for feeling
        productive, creative, and focused, and for getting chores done.</p>
    </div>
    <div id="indica" role="tabpanel" aria-labelledby="profile-tab" class="tab-pane fade px-4 py-5">
      <p class="strainFont font-italic indicaInfo">Not all indica strains will put you “in da couch,” but nevertheless,
        many consumers associate indicas with full-body effects, for example, heavy limbs or a tingly face. They also
        report indicas as being helpful in aiding relaxation and curbing insomnia.</p>
      <p class="strainFont font-italic mb-0 indicaFx">Common effects associated with indica strains include feeling
        relaxed, euphoric, happy, and sleepy. Indicas are commonly known as “nighttime” strains, used for relaxing and
        unwinding at the end of the night.</p>
    </div>
    <div id="hybrid" role="tabpanel" aria-labelledby="contact-tab" class="tab-pane fade px-4 py-5">
      <p class="strainFont font-italic hybridinfo">Hybrid strains are bred from both indica- and sativa-descended
        plants. Due to the long history of crossbreeding cannabis strains—much of it was historically done underground
        to evade authorities—strains that have pure indica or pure sativa lineages are rare. Most strains referred to as
        “indica” or “sativa” are, in fact, hybrids, with genetics inherited from both subspecies.</p>
      <p class="strainFont font-italic mb-0 hybridFX">Since hybrid weed strains derive genetics from indicas and
        sativas, their ensuing effects can also pull from both indica and sativa strains. Common effects include happy,
        euphoric, uplifting, energetic, relaxing—it all depends on which hybrid you consume and what effects its
        “parent” strains are known to produce.</p>
    </div>
  </div>
  <!-- End lined tabs -->
</div> --}}