<div class='submitSection '>
    <div>
    <p class='submitprompt'>3. click submit </p>
    <button class='submitbtn ' data-value="submit">SUBMIT</button>
</div>
</div>

<script src='/assets/js/submit.js'></script>