<div class='submitSection p-0 m-0'>
    {{!-- <p class='submitprompt'>3. click submit </p> --}}
    <button class='submitbtn p-0 m-0' data-value="submit">SUBMIT</button>
</div>
</div>

<script src='/assets/js/submit.js'></script>