<div class='submitSection '>
    <div>
        <p class='submitprompt'>3. click submit </p>
        <button class='submitbtn ' data-value="submit" id='submitButton'>SUBMIT</button>
        <div id="loaderOverlay">
            <div class="cv-spinner">
                <span class="spinner"></span>
            </div>
        </div>
    </div>
</div>



<script src='/assets/js/submit.js'></script>