<div class='testingDiv'>
    <h1>push everything down so i dont get hidden by the header</h1>
    <h2>push more</h2>
    <p>choose your strain</p>
    <button class='plantBtn' data-value='Sativa'>Sativa</button>
    <button class='plantBtn' data-value='Indica'>Indica</button>

    <h1>your food choice was: </h1>
    <p id="foodChoiceName"></p>

</div>

<script src='/assets/js/choosePlant.js'></script>