<div class='testingDiv'>
    <h1>push everything down so i dont get hidden by the header</h1>
    <h2>push more</h2>
    <p>Choose Your Strain</p>
    <button class='plantBtn' data-value='Sativa'>Sativa</button>
    <button class='plantBtn' data-value='Indica'>Indica</button>
    <button class='plantBtn' data-value='Cannabis+Hybrid'>Hybrid</button>

    <h1>Your food choice was: </h1>
    <h2 id="foodChoiceName"></h2>

    <p>optional google maps goes here</p>

</div>

<script src='/assets/js/choosePlant.js'></script>