<div class='testingDiv'>
    <h1>push everything down so i dont get hidden by the header</h1>
    <h2>push more</h2>
    <button class='plantBtn' data-value='Sativa'>Sativa</button>
    <button class='plantBtn' data-value='Indica'>Indica</button>
    <button class='plantBtn' data-value='Hybrid'>Hybrid</button>
</div>

<script src='/assets/js/choosePlant.js'></script>