<div class="testingDiv" style="height: 100%">
    <h1>header move pls</h1>
    <h1>more</h1>
    <p>both locations in 1 google map display here</p>
    <p>i wish to center the map</p>
    <div id="map" style="height: 500px; width: 50%; align: center"></div>

</div>

<script src="https://maps.googleapis.com/maps/api/js?key={{googleMapsApiKey}}&callback=initMap&v=weekly&channel=2"
    async></script>
<script src='/assets/js/finalResults.js'></script>