<div class="testingDiv">
    <h1> food search</h1>
    <h2>search for food</h2>
    <input id="searchTerm" type="text">
    <button id="searchBtn">Search Near Me</button>
</div>

<script src='/assets/js/searchPage.js'></script>