<!-- INvisible button to Open the Modal -->
<button type="button" class="d-none btn btn-primary" data-toggle="modal" data-target="#myModal" id='modalBtn'>test
    button</button>
<div class="modal-container ">
    {{>modal}}
</div>
{{!-- Main Section --}}
<section class='mainLogo'>
    {{!-- <div class="mainImage zoom" id='zoom'>
    </div> --}}
    <div class='logo-overlay '>
        <div class='overlay '>
            <img class="imgLogo" src="../assets/photos/logo.png" alt="">
        </div>
        <video src="../assets/photos/food.mp4" muted loop autoplay class='video'></video>
    </div>

</section>

{{!-- <section class='herolight light'>
    <div class="d-flex flex-row herokhaki mx-0">
        <div class="row choiceCards p-0 justify-content-around">
            <button class="col plantCard my-1 animationCard slide-left" onclick="showPlantTabs()">
                <h3>CANNABIS</h3>
                <p class="mb-0">Pick your plant</p>
            </button>

            <button class="col foodCard my-1 animationCard slide-right" onclick="showFoodCategories()">
                <h3>EATS</h3>
                <p class="mb-0">Pick Your Food</p>
            </button>
        </div>
    </div>

</section> --}}
<section id="plant" class='bg-dark'>
    <div id='plantTypeCard ' class='plantInfo'>
        {{>plant}}
    </div>
</section>
<section id="food">
    {{!-- <div class="container d-flex flex-row bg-dark herodark p-2"> --}}
        <div id=' foodTypeCard'>
            {{>food}}
        </div>
        {{!--
    </div> --}}
</section>
<section>
    <div class="submitCard">
        {{>submit}}
        {{!-- <div class="loader"></div> --}}
    </div>
</section>


<!-- The social media icon bar, commented out to see if we can get it icons in footer, will un-comment if we move it back to side - Meg -->
{{!-- <div class="icon-bar">
    <a href="https://www.facebook.com/seattlefoodtruck" class="facebook"><i class="fa fa-facebook"></i></a>
    <a href="https://twitter.com/weedthotss" class="twitter"><i class="fa fa-twitter"></i></a>
    <a href="https://www.google.com/search?q=420+blaze+it" class="google"><i class="fa fa-google"></i></a>
    <a href="https://www.linkedin.com/company/seattle-food-truck-builders/about/" class="linkedin"><i
            class="fa fa-linkedin"></i></a>
    <a href="https://www.youtube.com/watch?v=kK_rBQsLH2k" class="youtube"><i class="fa fa-youtube"></i></a>
</div> --}}