<div>
  <h1>Search your flavor!</h1>
  <h2>Savory, sour, or sweet??</h2>
</div>
<div class='testingDiv'>
  <h1>test</h1>
  <div id='foodResults'>
    {{>foodTruckResults}}
  </div>
  <div id='dispResults'></div>
  <div id="map" style="height: 500px; width: 50%; display:flex; position:absolute; left: 350px; bottom: 200px"></div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key={{googleMapsApiKey}}&callback=initMap&v=weekly&channel=2" async
  class='googleMap'></script>

<script src='/assets/js/searchResults.js'></script>