body {
    background-image: url("../photos/elevate-nYgy58eb9aw-unsplash.jpg");
    background-color: black;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
 }