.container {
    color: whitesmoke;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.card-group {
    display: flexbox;
    flex-wrap: wrap;
    justify-content: center;
}

.cardResults {
    background-color: rgb(67, 109, 67);
    background-image: url('public/assets/photos/background.jpeg');
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 30px;
    border-radius: 10px;
    margin: 20px;
    
}

.choiceBtn {
    color: whitesmoke;
    background-color: rgb(177, 177, 177);
    border-radius: 10px;
    border: 10px;
   
}
/* .card-footer {

} */

.coverMap {
    background-size: cover;
    height: 800px;
    background-image: url('public/assets/photos/background.jpeg');
}