.testingDiv {
    background-color: wheat;
}

.letsEat {
    text-align: center;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


div h1 {
    height: 100%;
    text-align: center;

}

<div class="testingDiv" style="height: 100%">
    <h1>header move pls</h1>
    <h1>more</h1>
    <p>both locations in 1 google map display here</p>

    <div id="map" style="height: 500px; width: 50%; display:flex; position:absolute; left: 300px; bottom: 200px"></div>

</div>
<h1>header move pls</h1>
    <h1>more</h1>
    <p>both locations in 1 google map display here</p>

