.container {
    color: whitesmoke;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.card-group {
    display: flexbox;
    flex-wrap: wrap;
    justify-content: center;
}

.card-body {
    padding: 10px;
    height: 200px;
}

.cardResults {
    background-color: rgb(67, 109, 67);
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    
}

.choiceBtn {
    color: whitesmoke;
    background-color: rgb(177, 177, 177);
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    border: 10px;
    height: 280px;
    width: 320px;
   
}

.resultImg {
    height: 150px;
    width: 175px; 
}

.coverMap {
    background-size: cover;
    height: 800px;
}